Pods/Pods.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcschemes/Kingfisher.xcscheme
Pods/Pods.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcschemes/Pods-RickMortyApp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcschemes/xcschememanagement.plist
RickMortyApp.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcschemes/xcschememanagement.plist
RickMortyApp.xcworkspace/xcuserdata/shizo663.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
